:root {
    --black-filter: brightness(0) saturate(100%) invert(13%) sepia(9%) saturate(0%)
        hue-rotate(240deg) brightness(107%) contrast(95%);

    --white-filter: brightness(0) saturate(100%) invert(100%) sepia(93%) saturate(0%)
        hue-rotate(201deg) brightness(106%) contrast(106%);

    --bg-main-filter: brightness(0) saturate(100%) invert(62%) sepia(25%) saturate(3221%)
        hue-rotate(2deg) brightness(109%) contrast(103%);

    --secondary-filter: brightness(0) saturate(100%) invert(98%) sepia(0%) saturate(222%)
        hue-rotate(195deg) brightness(83%) contrast(84%);

    --secondary-super-light-filter: brightness(0) saturate(100%) invert(99%) sepia(4%)
        saturate(323%) hue-rotate(302deg) brightness(106%) contrast(80%);

    --secondary-arrow-filter: invert(67%) sepia(8%) saturate(137%) hue-rotate(233deg)
        brightness(83%) contrast(92%);

    --error-filter: brightness(0) saturate(100%) invert(74%) sepia(65%) saturate(471%)
        hue-rotate(309deg) brightness(106%) contrast(108%);

    --success-filter: brightness(0) saturate(100%) invert(91%) sepia(15%) saturate(957%)
        hue-rotate(51deg) brightness(101%) contrast(93%);

    --collapse-filter: brightness(0) saturate(100%) invert(76%) sepia(69%) saturate(395%)
        hue-rotate(339deg) brightness(100%) contrast(103%);
}

.ic-refresh {
    margin-left: 2px;
    margin-right: 2px;
}

.ic-subtle-arrow-sm {
    height: 25px;
}

.ic-subtle-arrow-lg {
    height: 60px;
}

.ic-carriage-type {
    height: 50px;
}

.ic-carriage-info-service {
    filter: var(--black-filter);
}

.ic-carriage-info-service:hover {
    filter: var(--white-filter);
}

.ic-arrow-station-prev {
    filter: var(--secondary-arrow-filter);
}

.ic-main:hover {
    filter: var(--bg-main-filter);
}

/* filters */
.filter-black {
    filter: var(--black-filter);
}

.filter-white {
    filter: var(--white-filter);
}

.filter-secondary {
    filter: var(--secondary-filter);
}

.filter-secondary-super-light {
    filter: var(--secondary-super-light-filter);
}

.filter-main {
    filter: var(--bg-main-filter);
}

.filter-error {
    filter: var(--error-filter);
}

.filter-success {
    filter: var(--success-filter);
}

.filter-lighter-main {
    filter: var(--collapse-filter);
}
